.header a{
    text-decoration: none;
    margin-right: 15px;
    padding: 2px 5px;
    font-size: 20px;
}
.header a:hover{
    background-color: lightgrey;
}
.active{
    background-color: aquamarine;
}